<div class = "login-container">
    <div style = "margin-left: 8%;"></div>
    <img height = "100px" width = "100px" src="assets/home/data-medic-logo2.webp" alt="">
    <div class = "vertically-align">
        <div class = "column">
            <div class = "details-container">
                <form>
                    <label for="email">Email Address:</label><br>
                    <input type="text" id="email" name="email"><br>
                    <div style="margin-bottom: 20%;"></div>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password"><br>
                </form>
            </div>

            <div style="margin-bottom: 20%;"></div>
            <div class = "user-buttons row">
                <button class = "back-button" (click)="onButtonClick('')"> Back </button>
                <button class = "login-button"> Login</button>
            </div>
        </div>
    </div>
</div>