<div class = "page-container">
    <div class = "top-buttons">
        <button (click)="onClick('doctor')">Home</button>
        <button>Contact Us</button>
    </div>
    <div class = "main-container">
        <div class = "user-information grid-item">
            <table height = "50%" width="90%" style="border: 1px solid black; text-align: center;">
                <tr><th>Patient ID:</th></tr>
                <td>{{patientDetails.id}}</td>
                <tr><th>Patient Name:</th></tr>
                <td>{{patientDetails.name}}</td>
                <tr><th>Date of Birth:</th></tr>
                <td>{{patientDetails.dob}}</td>
                <tr><th>Email:</th></tr>
                <td>{{patientDetails.email}}</td>
                <tr><th>Phone Number:</th></tr>
                <td>{{patientDetails.phone}}</td>
            </table>
        </div>
        <div>
            <div class="diagnoses-dropdown grid-item">
                <h3>Diagnosis:</h3>
                <input [(ngModel)]="selectedDiagnosis" autoComplete="on" list="suggestions" />
                <datalist id="suggestions">
                    <ng-container *ngFor="let diagnosis of allDiagnoses">
                        <option value="{{diagnosis}}">{{diagnosis}}</option>
                    </ng-container>
                </datalist>
            </div>
            
            <h3>Medication to prescribe: </h3>
            <div class="checkbox">
                <ng-container *ngFor="let medication of allMedication; let i = index">
                    <input type="checkbox" [id]="'medication' + i" [value]="medication"
                           (change)="onMedicationChange($event, medication)">
                    <label [for]="'medication' + i">{{medication}}</label><br>
                </ng-container>
            </div>
            <button (click)="onSubmit()">Submit</button>
        </div>
    </div>
    
</div>