<div *ngIf= "!loggedIn" class="main-container">
    <div class = "user-buttons">
        <button class="login-button" (click)="onButtonClick('login')">Login</button>
        <button class="signup-button" (click)="onButtonClick('signup')">Signup</button>
    </div>
    <button class = "doctor-portal-button" (click)="onButtonClick('doctor')"> Doctor Portal</button>
</div>
<div *ngIf= "loggedIn" class="main-container">
    <button class = "doctor-portal-button" style="border-radius: 5px;" (click)="logout()"> Log Out</button>
</div>
<div class = "home-container">
    <div class = "buttons-row">
        <div class = "button-div grid-item" (click)="onButtonClick('')">
            <div class = "button-div-image">
                <img height = "150px"src="assets/home/home-icon.svg" alt="">
            </div>
            <div><h2>Home</h2></div>
        </div>

        <div class = "button-div grid-item" (click)="onButtonClick('book-appointment')">
            <div class = "button-div-image">
                <img height = "150px"src="assets/home/book-appointment-icon.png" alt="">
            </div>
            <div><h2>Schedule an Appointment</h2></div>
        </div>

        <div class = "button-div grid-item" (click)="onButtonClick('appointments')">
            <div class = "button-div-image">
                <img height = "150px"src="assets/home/my-appointment-icon.png" alt="">
            </div>
            <div><h2>My Appointments</h2></div>
        </div>

        <div class = "button-div grid-item" (click)="onButtonClick('diagnoses')">
            <div class = "button-div-image">
                <img height = "150px"src="assets/home/diagnosis-icon.png" alt="">
            </div>
            <div><h2>My Diagnoses</h2></div>
        </div>

        <div class = "button-div grid-item" (click)="onButtonClick('medication')">
            <div class = "button-div-image">
                <img height = "150px"src="assets/home/medication-icon.png" alt="">
            </div>
            <div><h2>My Medication</h2></div>
        </div>

        <div class = "button-div grid-item">
            <div class = "button-div-image">
                <img height = "150px"src="assets/home/contact.png" alt="">
            </div>
            <div><h2>Contact Us</h2></div>
        </div>
    </div>
    <!-- <div style="padding-bottom: 1px;"></div> -->
    <div class = "logo-row" style="padding-top: 10px;">
        <img height = 200px src = "assets/home/data-medic-logo2.webp">
        <div style="text-align: center;">
            <h1>Data<span>Medic</span></h1>
            <h2>Your <span>all in one</span> location<br> for a Hospital Management System!</h2>
            <h3>America's most trusted Medicare solution</h3>
        </div>
    </div>
    <!-- <div class="bottom-row">
        <div style="margin-left: 5%;">
            <h1>Increased medcare<br><span>efficiency</span> by <span>80%</span></h1>
        </div>
        <div style="margin-top: 2%;">
            <img height="200px" src="assets/home/money-saved-graph.webp" alt="">
        </div>
        <div style="margin-right: 5%;">
            <h1>Provided support<br>to <span>10,000+ Patients</span></h1>
        </div>
    </div> -->
</div>
