<h2>SELECT A DOCTOR</h2>
<div class="row main-container">
    <button #slideLeft class = "scroll-button"><</button>
    <div #scrollableContainer class = "scrollable-container">
        <div #scrollRow class = "row scroll">
            <div *ngFor = "let doctor of allDoctors">
                <div class = "doctor-container">
                <div class = "top-container">
                    <img class = "doctor-image" src="assets/doctor.png" alt="">
                </div>
                <div class = "text-container">
                    <h2>Dr. {{doctor.name}}</h2>
                    <p>{{doctor.email}}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <button #slideRight class = "scroll-button">></button>
</div>