.page-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 225, 239);
    z-index: -1; /* Ensure the container is behind other content */
    color: black;
}

img{
    cursor: pointer;
}

.signup-container{
    display: flex;
    /* justify-content: center; */
    height: 90vh;
    /* background-color: rgb(48, 48, 48); */
    width: 50%;
}

.signup-container img{
    cursor: pointer;
}

.vertically-align{
    /* background-color: rgb(0, 0, 0); */
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.details-container{
    text-align: start;
    /* background-color: white; */
}

.details-container form input{
    width: 220px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid rgb(102, 101, 101);
    color: white;
}

.user-buttons button{
    width: 70%;
    height: 35px;
    font-weight: bold;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
}

.user-buttons button:hover{
    transform: scale(1.07);
}

.back-button{
    background-color: rgb(99, 99, 99);
    margin-right: 2%;
}

.signup-button{
    background-color: rgb(231, 128, 17);
    margin-left: 2%;
}

.dob label{
    margin-bottom: 5%;
    margin-right: 10%;
}

.dob input{
    width: 30px !important;
    margin-right: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error{
    color: red;
    font-size: 12px;
    margin-left: 5%;
    margin-top: 1.5%;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */