<div class="page-container">
    <div class="main-container">
        <div class = "main" *ngIf = "!isLoggedIn">
            <div class = "user-buttons">
                <button class="login-button" (click)="onButtonClick('doctor/login')">Login</button>
                <button class="signup-button" (click)="onButtonClick('doctor/signup')">Signup</button>
            </div>
            <button class = "patient-portal-button" (click)="onButtonClick('')"> Patient Portal</button>
        </div>
        
        <div *ngIf = "isLoggedIn">
            <p>{{doctorDetails.name}}</p>
        </div>
        
        <div class = "home-container">
            <div class= "buttons-row">
                <div class="button-div grid-item">
        
                </div>
                <div class="button-div grid-item">
        
                </div>
            </div>
        </div>
    </div>
    
</div>
