<div class="page-container">
    <div class="main-container">
        <div class = "main" *ngIf = "!isLoggedIn">
            <div class = "user-buttons">
                <button class="login-button" (click)="onButtonClick('doctor/login')">Login</button>
                <button class="signup-button" (click)="onButtonClick('doctor/signup')">Signup</button>
            </div>
            <button class = "patient-portal-button" (click)="onButtonClick('')"> Patient Portal</button>
        </div>
        <div class = "main" style="margin-top: 1%; margin-left: 1%;" *ngIf="isLoggedIn">
            <img height = "60px" style="border-radius: 50%;" src="assets/doctor.png" alt="">
            <h3>{{doctorDetails.name}}</h3>
            <button class = "logout-button" (click)="logout()">Log out</button>
        </div>
        
        <div class = "home-container">
            <div class= "buttons-row">
                <div class="button-div grid-item">
                    <div class = "button-div-image" (click)="onButtonClick('doctor/appointments')">
                        <img height = "300px"src="assets/home/my-appointment-icon.png" alt="">
                    </div>
                    <div><h1>Appointments</h1></div>
                </div>
                <div class="button-div grid-item">
                    <div class = "button-div-image">
                        <img height = "300px"src="assets/home/contact.png" alt="">
                    </div>
                    <div><h1>Contact Us</h1></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
