<div class = "main-container" *ngIf = "isLoggedIn">
    <table>
        <tr>
            <ng-container *ngFor="let header of tableHeaders">
                <th>{{header}}</th>
            </ng-container>
        </tr>
        <ng-container *ngFor="let medication of patientMedication">
            <tr>
                <td *ngFor="let header of tableHeaders">
                    <ng-container *ngIf="header === 'Medication'">{{medication.name}}</ng-container>
                    <ng-container *ngIf="header === 'Dosage'">{{medication.dosage}} mg</ng-container>
                    <ng-container *ngIf="header === 'Date Range'">{{medication.dateRange}}</ng-container>
                </td>
            </tr>
        </ng-container>
    </table>
</div>

<div *ngIf = "!isLoggedIn" style="text-align: center; margin-top: 25%;">
    Please log in to view this page
</div>
