<div *ngIf = "showColumns">
  <div class = "app-container">
    <div class = "left-column">
      <div *ngIf = "loggedIn == false" class = "user-buttons">
        <button class = "signup-button" (click)="onLoginClick('signup')">Sign up</button>
        <button class = "login-button" (click)="onLoginClick('login')"> Login</button>
      </div> 
      <div *ngIf = "loggedIn == true" class="row username">
        <img style = "margin-top: 4%; margin-right: 8%; margin-left: 4%;" height="50px" src="assets/home/user_image.png" alt="">
        <h2>{{username}}</h2>
      </div>
      <div style="padding: 1%;"><hr style="border: 0.2px solid grey;"></div>
      <div style="padding: 10%;"></div>
      <div class = "normal-buttons">
        <button (click)="onPageClick('', '')" [ngClass]="{'active-button': (selectedPage === '')}">Home</button>
        <button (click)="onPageClick('book-appointment', 'book-appointment')" [ngClass]="{'active-button': (selectedPage === 'book-appointment')}">Book an Appointment</button>
        <button (click)="onPageClick('appointments', 'my-appointments')" [ngClass]="{'active-button': (selectedPage === 'my-appointments')}">My Appointments</button>
        <button>Diagnosis</button>
        <button>My Medication</button>
        <button>Contact Us</button>
      </div>
    </div>

    
    <div class = "right-column">
      <main id = "content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>

<div *ngIf = "!showColumns">
  <main id = "content">
    <router-outlet></router-outlet>
  </main>
</div>