<div class = "home-container">
    <div class = "logo-row">
        <img height = 400px src = "assets/home/data-medic-logo2.webp">
        <div style="text-align: center;">
            <h1>Data<span>Medic</span></h1>
            <h2>Your <span>all in one</span> location<br> for a Hospital Management System!</h2>
            <h3>America's most trusted Medicare solution</h3>
        </div>
    </div>
    <div class="bottom-row">
        <div style="margin-left: 5%;">
            <h1>Increased medcare<br><span>efficiency</span> by <span>80%</span></h1>
        </div>
        <div style="margin-top: 2%;">
            <img height="200px" src="assets/home/money-saved-graph.webp" alt="">
        </div>
        <div style="margin-right: 5%;">
            <h1>Provided support<br>to <span>10,000+ Patients</span></h1>
        </div>
    </div>
</div>